#Sat, 09 Feb 2013 18:58:51 -0500
# This configuration property (if set) is included by default in all compile commands
# executed according to this formulation:
#
#   sencha compile -classpath=...,${framework.classpath},${workspace.classpath},${app.classpath}
#
workspace.classpath=${workspace.dir}/common/ux,${workspace.dir}/common/senchaio/src,${workspace.dir}/vexflow/build/symbols.js,${workspace.dir}/common/src
workspace.build.dir=${workspace.dir}/build/${app.id}

ext.dir=${workspace.dir}/common/ext
touch.dir=${workspace.dir}/common/touch
workspace.cmd.version=3.0.2.288
