# This configuration property (if set) is included by default in all compile commands
# executed according to this formulation:
#
#   sencha compile -classpath=...,${framework.classpath},${workspace.classpath},${app.classpath}
#
workspace.build.dir=${workspace.dir}/build

ext.dir=${workspace.dir}/common/ext
touch.dir=${workspace.dir}/common/touch
workspace.packages.dir=${workspace.dir}/common/packages

workspace.cmd.version=4.0.0.203
