// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

@include icon-font(
	'Bravina',
	inline-font-files(
		'bravina/Bravina.woff', woff,
		'bravina/Bravina.ttf', truetype,
		'bravina/Bravina.svg', svg
	)
);

@include icon('note-whole', '\e000', 'Bravina');
@include icon('rest-whole', '\e010', 'Bravina');

@include icon('note-half', '\e001', 'Bravina');
@include icon('rest-half', '\e011', 'Bravina');

@include icon('note-quarter', '\e002', 'Bravina');
@include icon('rest-quarter', '\e012', 'Bravina');

@include icon('note-eighth', '\e003', 'Bravina');
@include icon('rest-eighth', '\e013', 'Bravina');

@include icon('note-sixteenth', '\e004', 'Bravina');
@include icon('rest-sixteenth', '\e014', 'Bravina');

@include icon('tie', '\e020', 'Bravina');

@include icon('chevron-up', '\e100', 'Bravina');
@include icon('chevron-down', '\e101', 'Bravina');

.x-desktop .x-layout-box > .x-layout-box-item {
	margin-right: -1px;
}

@include sencha-button-ui('neutral', #ccc);

.x-toolbar .x-button.x-button-fullsize {
	.x-button-label {
		font-size: 1em;
	}
	
	.x-button-icon:before {
		font-size: 1.6em;
		line-height: 1em;
	}
}

.x-segmentedbutton.x-segmentedbutton-vertical .x-button {
	@if $include-border-radius {
		@include border-radius(0);

		&.x-first {
				@include border-top-radius($button-radius);
		}

		&.x-last {
			@include border-bottom-radius($button-radius);
		}
	}

	&:not(.x-first) {
		border-left: 1px solid #061F31;
		border-top: 0;
	}
}
